*{
    margin: 0;
   padding: 0;
}

body{
    background-image: url(img/download.jfif);
    background-size: cover;
    background-position: center center;
}

.drop-nav{
    width: 860px;
    margin: 0 auto;
}

.drop-nav ul{
    list-style: none;
    margin-top: 2%;
}

.drop-nav ul li{
    background-color:#cc2222;
    width: 170px;
    border:1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.drop-nav ul li a{
    text-decoration: none;
    color:white;
}

.drop-nav ul li:hover{
    background-color: rgb(22, 22, 22);
}

.drop-nav ul ul{
    display: none;
}

.drop-nav ul li:hover > ul{
    display: block;
}

.drop-nav ul ul ul{
    margin-left: 170px;
    top:0;  
}

img{
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;

}

.imgpsy{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

h1{
    color: rgb(243, 22, 22);
    margin-left: 10px;
}

h2{
    color: rgb(236, 14, 32);
    margin-left: 10px;
}
h3{
    color: rgb(236, 65, 80);
    margin-left: 10px;
}

p{
    margin-left: 10px;
}