*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.hero{
    height:200%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(login.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    height: 480px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #d8f3ee;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
a{
    text-decoration: none;
}
.toggle-btn2{
    position: absolute;
    align-content: center;
    top: 60%;
    left: 63%;
    font-family: sans-serif;
    font-size: 12px;
    color: #777;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #00aaee, #77dd77);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top:150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding:10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top:0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #00aaee, #77dd77);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 33px 0;    
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#edit{
    left: 50px;
}
#register{
    left: 450px;
}
#forgot-pass
{
    left:50px;
    margin: 2px;
}
.submit-btn1{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:30px;
    background: linear-gradient(to right, #00aaee, #77dd77);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.auth-message{
    text-align:center;
    line-height:1.4;
}
.auth-message-title{
    margin: 10px;
    font-weight:700;
    font-size:26px;
}
.auth-message-content{
    margin: 20px;
    font-size: 14;
}

.heading{
    text-align: center;
    margin-top:10px;
}