
h1{
  text-align: center;
  font-style: italic;
  font-family: Garamond, serif;
  font-size: 50px;

}


h3{
  text-align: center;
  font-style: italic;
  font-family:  serif;
  font-size: 30px;

}


.column {
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 420px;
  height: 400px;
  float:left;
  margin-left:15px;
  margin-top: 10px;
}


p{
  font-family: Garamond, serif;
  font-weight: bold;
}

.column:hover{
  transform:scale(1.1,1.1);
  background-color: lightblue ;
}


.i{
  width: 100%;
  height: 290px;
}
