body {
}

h1{
  text-align: center;
  font-style: italic;
  font-family: Garamond, serif;

}

.card:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
}

.column {
    float: left;
    width: 30.33%;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.row{
  padding-top: 2px;
}
p{
  font-family: Garamond, serif;
  font-weight: bold;
}

.card:hover{
  transform:scale(1.1,1.1);
  background-color: rgba(132, 176, 173, 0.5);
}
