body{
    padding: 0;
    margin: 0;
}

.card-body{
     background-color: white;
      box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin:50px;
      margin-left: 200px;
      margin-right: 200px;
}

h3{
    color: #8f4ba2;
}
h3:after {
content: "";
height: 4px;
background-color: #ddd;
width: 60px;
display: block;
margin: auto;
margin-top: 1.5rem;
margin-bottom: 2rem;
}

.myProgress {
width: 70%;
background-color: lightpink;
margin: 2rem auto 0;
border-radius: 50px;
}

#myBar {
height: 30px;
background-color: #5cc25f;
border-radius: 50px;
}
button{
background:#d3d3d3;
border: none;
border-radius: 15px;
color:black;
font-weight: bold;
font-family: system-ui;
font-size:25px;
padding: 14px 30px;
margin:5px;
text-align: center;
text-decoration: none;

}

button:hover{
    background:  linear-gradient(to right, #00aaee, #77dd77);
    border-radius: 15px;
    border: none;
    text-decoration: none;
    outline: none;
}

p{
    font-size: 20px;
    color:#836889;
}