body{
    padding: 0;
    margin: 0;
}

.card-body
{
     background-color: white;
      box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin:15px;
      margin-left: 200px;
      margin-right: 200px;
}

#id1{
    color:#5d3474;
}

#id2{
    color:lightgray;
    font-size: 30px;
}

#id3{
    color:#5d3474;
}

#id4{
    color:lightgreen;
}

#id5{
    color:#FFA07A;
}

#id6{
    color:#F08080;
}

#id7{
    color:darkblue;
}

.but
{
    /* box-align:center; */
    background:#d3d3d3;
    border: none;
    border-radius: 15px;
    color:black;
    font-weight: bold;
    font-family: system-ui;
    font-size:25px;
    padding: 14px 30px;
    margin:5px;
    text-align: center;
    box-align:center;
    text-decoration: none;
}

.but:hover
{
    background:  linear-gradient(to right, #00aaee, #77dd77);
    border-radius: 15px;
    border: none;
    text-decoration: none;
    outline: none;
}
